<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<table th:fragment="receiptLines" class="d-none">

		<tbody id="templateReceiptLines">
			<tr id="row_{ID}">
				<td class="d-none"><input type="hidden" value="{ID}"
					name="line_id[]" /></td>
				<td>{NAME}</td>
				<td>{PRICE}</td>
				<td><input id="quantity_{ID}" name="quantity[]" type="number"
					class="form-control col-sm-4" value="1"
					onchange="itemsHelper.getAmount({ID}, {PRICE}, this.value);" /></td>
				<td><span id="total_amount_{ID}">0</span></td>
				<td><a href="#" class="btn btn-danger btn-xs"
					onclick="itemsHelper.deleteReceiptLine({ID});">x</a></td>
			</tr>
		</tbody>

	</table>

</body>
</html>