<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">

			<div class="card-header">
				<h1 th:text="${title}"
					class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>
			</div>

			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/form}" class="btn btn-primary btn-xs">Crear
						cliente</a>
				</h4>

				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>id</th>
							<th>nombre</th>
							<th>apellido</th>
							<th>email</th>
							<th>fecha</th>
							<th>crear factura</th>
							<th>editar</th>
							<th>eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client: ${clients}">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/see/} + ${client.id}" th:text="${client.id}"></a></td>
							<td th:text="${client.name}"></td>
							<td th:text="${client.surname}"></td>
							<td th:text="${client.email}"></td>
							<td th:text="${client.createAt}"></td>
							<td><a th:href="@{/receipt/form/} + ${client.id}"
								th:text="'crear factura'" class="btn btn-success btn-xs"></a></td>
							<td><a th:href="@{/form/} + ${client.id}" th:text="'editar'"
								class="btn btn-primary btn-xs"></a></td>
							<td><a th:href="@{/delete/} + ${client.id}"
								th:text="'eliminar'"
								onclick="return confirm('¿Estas seguro de que quieres eliminar el cliente?');"
								class="btn btn-danger btn-xs"></a></td>
						</tr>
					</tbody>
				</table>

				<nav th:replace="paginator-nav :: paginator"></nav>

			</div>

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>