<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">

			<div class="card-header" th:text="${title}"></div>

			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/receipt/form/} + ${client.id}"
						th:text="'crear factura'" class="btn btn-primary btn-xs"></a>
				</h4>

				<img th:if="${#strings.length(client.photo) > 0}"
					th:src="@{'/uploads/' + ${client.photo}}" th:alt="${client.photo}"
					class="img-thumbnail rounded float-left" style="max-width: 25%" />

				<ul class="list-group">
					<li class="list-group-item" th:text="${client.name}"></li>
					<li class="list-group-item" th:text="${client.surname}"></li>
					<li class="list-group-item" th:text="${client.email}"></li>
					<li class="list-group-item" th:text="${client.createAt}"></li>
				</ul>

				<div class="alert alert-info my-4"
					th:if="${#lists.isEmpty(client.receipts)}"
					th:text="'No hay facturas asignadas a ' + ${client.name} + ' ' + ${client.surname}"></div>

				<table class="table table-bordered table-striped my-4"
					th:if="${!#lists.isEmpty(client.receipts)}">
					<thead class="thead-dark">
						<tr>
							<th>Folio</th>
							<th>Descripci&oacuten</th>
							<th>Fecha</th>
							<th>Total</th>
							<th>Ver</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="receipt: ${client.receipts}">
							<td th:text="${receipt.id}"></td>
							<td th:text="${receipt.description}"></td>
							<td th:text="${receipt.createAt}"></td>
							<td th:text="${receipt.total}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{'/receipt/see/' + ${receipt.id}}" th:text="detalle"></a></td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>